name: Build, Test, Package

on:
  push:
    branches: [ master ]
    paths:
      - 'src/**.csproj'
      - '.github/workflows/build.yml'
  workflow_run:
    workflows: 
      - 'Windows Test'
      - 'Unix Test'
    branches: [ master ]
    types: 
      - completed

jobs:  
  upload-packages:  
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: windows-2022
    strategy:
      matrix:
        project: 
        - 'Core'
        - 'Embedded'
        - 'Remote.Grpc'
        - 'Embedded.NativeAssets.Win-x64'
        - 'Embedded.NativeAssets.Win-x86'
        - 'Embedded.NativeAssets.Osx-x64'
        - 'Embedded.NativeAssets.Linux-x64'
        - 'Embedded.NativeAssets.AlpineLinux-x64'
    steps:
    - uses: actions/checkout@v2
    - name: Caching
      uses: actions/cache@v2
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-${{ hashFiles('**/*.csproj') }} #hash of project files
        restore-keys: |
          ${{ runner.os }}-
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.x'
    - name: Publish Nuget Package
      uses: alirezanet/publish-nuget@v3.0.4
      with:
        PROJECT_FILE_PATH: src/ReindexerNet.${{ matrix.project }}/ReindexerNet.${{ matrix.project }}.csproj
        NUGET_KEY: ${{secrets.NUGET_API_KEY}}
        TAG_FORMAT: v*
