name: linux-x64 Test

on:
  push:
    branches: [ master ]

jobs:
  ubuntu-test:
    runs-on: ${{ matrix.os }}
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    strategy:
      matrix:
        os: [ 'ubuntu-16.04', 'ubuntu-18.04', 'ubuntu-20.04' ]
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Test
      run: dotnet test -v quiet -f netcoreapp3.1 --logger "console;verbosity=detailed" --nologo /nologo